In [8]:
from openpyxl import Workbook

# Create a new Excel workbook
wb = Workbook()

# Select the active worksheet
ws = wb.active

# Example print statements
print_statements = [
    "Hello, world!",
    "This is a test print statement.",
    "Exporting print statements to Excel."
]

# Write the print statements to Excel
for row, statement in enumerate(print_statements, start=1):
    tim = ws.cell(row=row, column=1, value=statement)

# Save the workbook
print(enumerate(print_statements, start=1))

<enumerate object at 0x11c72b540>

In [1]:
import pandas as pd
import os
import glob
from openpyxl import Workbook

In [21]:
pip install pyxlsb

Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10
Note: you may need to restart the kernel to use updated packages.

In [155]:
path = '/Users/emmanuel.olatunbosun/Downloads/wetransfer_team-apt-2022-contiue-xlsb_2024-01-31_2021'
df = glob.glob(path + "/team*.xlsb")

In [156]:
print(df)

['/Users/emmanuel.olatunbosun/Downloads/wetransfer_team-apt-2022-contiue-xlsb_2024-01-31_2021/team apt 2023.xlsb', '/Users/emmanuel.olatunbosun/Downloads/wetransfer_team-apt-2022-contiue-xlsb_2024-01-31_2021/team Apt 2022 contiue .xlsb', '/Users/emmanuel.olatunbosun/Downloads/wetransfer_team-apt-2022-contiue-xlsb_2024-01-31_2021/teamapt new.xlsb']

In [135]:
df2 = []
for file in df:
    combine_sheets = pd.read_excel(file, sheet_name = None, header = None, engine= 'pyxlsb')
    df2.append(combine_sheets)

In [136]:
print(df2)

[{'November - december 2023':                                     0  \
0       MNFY|63|20231030235953|002383
1       MNFY|78|20231031000048|160393
2       MNFY|78|20231031000109|160398
3       MNFY|81|20231031000112|159191
4       MNFY|78|20231031000136|160406
...                               ...
245134  MNFY|00|20231228235519|223825
245135  MNFY|15|20231228235522|222587
245136  MNFY|23|20231228235609|223523
245137  MNFY|15|20231228235552|222591
245138  MNFY|95|20231228235812|223200

                                                    1        2             3  \
0        ZIB|API|MX14239|31-10-2023|1209507919|167563  MX14239  135472003081
1        FBN|API|MX14239|31-10-2023|1209508208|757050  MX14239  812420004867
2        ABP|API|MX14239|31-10-2023|1209508263|814643  MX14239  317755004871
3        FBP|API|MX14239|31-10-2023|1209508311|724453  MX14239  966495003621
4        ABP|API|MX14239|31-10-2023|1209508348|481325  MX14239   87316003673
...                                               ...      ...           ...
245134   UBA|API|MX14239|28-12-2023|1263782370|333227  MX14239  724503544557
245135  SKYE|API|MX14239|28-12-2023|1263782440|177195  MX14239  675268242842
245136   OPA|API|MX14239|28-12-2023|1263782584|414976  MX14239  975550985142
245137  WEMA|API|MX14239|28-12-2023|1263783125|272369  MX14239  485966560976
245138  IBTC|API|MX14239|28-12-2023|1263783243|428931  MX14239   18521560978

             4          5          6             7             8
0         3081     438.60     435.05  45230.000401  45231.000239
1         4867   11000.00   10910.90  45230.000981  45231.000239
2         4871   15503.40   15377.82  45230.001110  45231.000239
3         3621  155000.00  153744.50  45230.001225  45231.000239
4         3673     558.25     553.73  45230.001292  45231.000239
...        ...        ...        ...           ...           ...
245134  544557     710.50     704.74  45288.997233  45289.000192
245135  242842    2500.00    2479.75  45288.997398  45289.000192
245136  985142     801.85     795.36  45288.997660  45289.000192
245137  560976    5075.00    5033.89  45288.998848  45289.000192
245138  560978     285.60     283.29  45288.999088  45289.000192

[245139 rows x 9 columns], 'september 2023':                                     0  \
0       MNFY|94|20230801000004|000689
1       MNFY|18|20230807224854|142526
2       MNFY|04|20230807224907|142409
3       MNFY|04|20230807224937|142410
4       MNFY|04|20230807224940|142411
...                               ...
106732  MNFY|05|20230928235609|022039
106733  MNFY|67|20230928235558|021824
106734  MNFY|57|20230928235631|021902
106735  MNFY|92|20230928235848|021940
106736  MNFY|35|20230928235752|021531

                                                     1        2             3  \
0         ABP|API|MX14239|01-08-2023|1117923823|000007  MX14239   25117032998
1       GTB|API|MX14239|07-08-2023|1125162040|623977_1  MX14239  267693008057
2       GTB|API|MX14239|07-08-2023|1125162337|682870_1  MX14239  157052009027
3       OPA|API|MX14239|07-08-2023|1125162599|856286_1  MX14239   85714013155
4       OPA|API|MX14239|07-08-2023|1125162634|938057_1  MX14239  992833009758
...                                                ...      ...           ...
106732    FBP|API|MX14239|28-09-2023|1181813947|697947  MX14239  363967065257
106733    ECO|API|MX14239|28-09-2023|1181814031|189815  MX14239  843851028973
106734    ZIB|API|MX14239|28-09-2023|1181814656|828827  MX14239  835403065301
106735    FBN|API|MX14239|29-09-2023|1181814700|761015  MX14239  152820020883
106736    UBA|API|MX14239|29-09-2023|1181814716|839664  MX14239  316031009927

            4         5         6             7             8
0       32998    200.00    198.38  45139.000083  45173.000048
1        8057  20000.00 -19838.00  45145.950896  45180.000022
2        9027    225.33   -223.50  45145.951185  45180.000022
3       13155    330.89   -328.21  45145.951439  45180.000022
4        9758    507.50   -503.39  45145.951459  45180.000022
...       ...       ...       ...           ...           ...
106732  65257   1500.00   1487.85  45197.997890  45198.000008
106733  28973    507.50    503.39  45197.998102  45198.000008
106734  65301  13476.00  13366.84  45197.999761  45198.000008
106735  20883    253.75    251.69  45197.999861  45198.000008
106736   9927     20.00     19.84  45197.999890  45198.000008

[106737 rows x 9 columns], 'october 2023':                                     0  \
0       MNFY|21|20230506024031|049613
1       MNFY|92|20230929000350|021970
2       MNFY|57|20230929000434|021934
3       MNFY|35|20230929000449|021561
4       MNFY|82|20230929000651|021754
...                               ...
123773  MNFY|27|20231030235227|160158
123774  MNFY|27|20231030235758|160197
123775  MNFY|81|20231030235828|159171
123776  MNFY|81|20231030235835|159174
123777  MNFY|27|20231030235919|160205

                                                    1        2             3  \
0        OPA|API|MX14239|06-05-2023|1052539473|621671  MX14239  518067013706
1        ZIB|API|MX14239|29-09-2023|1181815779|266816  MX14239  702405029204
2        UBA|API|MX14239|29-09-2023|1181815984|959032  MX14239  986187011058
3        OPA|API|MX14239|29-09-2023|1181815987|463519  MX14239  916765065402
4        OPA|API|MX14239|29-09-2023|1181816974|443277  MX14239  835515010097
...                                               ...      ...           ...
123773   ZIB|API|MX14239|30-10-2023|1209506798|480408  MX14239  824137003892
123774  IBTC|API|MX14239|30-10-2023|1209507150|138181  MX14239  284948004771
123775   KSB|API|MX14239|30-10-2023|1209507334|778287  MX14239  646419003950
123776   ZIB|API|MX14239|31-10-2023|1209507663|180662  MX14239  534148003062
123777  IBTC|API|MX14239|31-10-2023|1209507699|311957  MX14239  450939003634

            4         5         6             7             8
0       13706    101.30    100.48  45052.111721  45229.000044
1       29204    152.25    151.02  45198.003078  45202.435328
2       11058    284.20    281.90  45198.003664  45202.435328
3       65402     60.90     60.41  45198.003670  45202.435328
4       10097    223.30    221.49  45198.005826  45202.435328
...       ...       ...       ...           ...           ...
123773   3892    500.00    495.95  45229.998197  45230.000257
123774   4771  35610.00  35321.56  45229.998903  45230.000257
123775   3950   1995.00   1978.84  45229.999269  45230.000257
123776   3062    274.05    271.83  45229.999884  45230.000257
123777   3634  18900.00  18746.91  45229.999944  45230.000257

[123778 rows x 9 columns], 'August':                                     0  \
0       MNFY|37|20230703123006|001971
1       MNFY|37|20230703123128|001985
2       MNFY|04|20230731062126|150533
3       MNFY|50|20230731062127|150283
4       MNFY|23|20230731062117|150310
...                               ...
169070  MNFY|19|20230830235738|066284
169071  MNFY|29|20230830235607|067285
169072  MNFY|76|20230830235636|008777
169073  MNFY|97|20230830235843|072755
169074  MNFY|36|20230830235847|064297

                                                    1        2             3  \
0       JAIZ|API|MX14239|03-07-2023|1095110698|123045  MX14239   37320085351
1       JAIZ|API|MX14239|03-07-2023|1095111670|123202  MX14239  774003085572
2        ZIB|API|MX14239|31-07-2023|1117163591|427395  MX14239  584330844965
3        GTB|API|MX14239|31-07-2023|1117163665|423569  MX14239   53242542190
4        ABP|API|MX14239|31-07-2023|1117163682|284443  MX14239  834952845103
...                                               ...      ...           ...
169070   UBA|API|MX14239|30-08-2023|1151970007|546131  MX14239   62295110431
169071   ZIB|API|MX14239|31-08-2023|1151970022|397253  MX14239  176314111086
169072   GTB|API|MX14239|30-08-2023|1151970031|663058  MX14239   73293110379
169073   OPA|API|MX14239|30-08-2023|1151970466|141858  MX14239  980069110508
169074   GTB|API|MX14239|31-08-2023|1151970681|734274  MX14239  440260111031

             4         5         6             7             8
0        85351    507.50    503.39  45110.521361  45167.000122
1        85572    609.00    604.07  45110.522247  45167.000122
2       844965    710.50    704.74  45138.265098  45139.000099
3       542190   1015.00   1006.78  45138.265192  45139.000099
4       845103    258.95    256.85  45138.265248  45139.000099
...        ...       ...       ...           ...           ...
169070  110431  98000.00  97206.20  45168.998703  45169.000065
169071  111086  30000.00  29757.00  45168.998728  45169.000065
169072  110379    121.80    120.81  45168.998745  45169.000065
169073  110508    203.00    201.36  45168.999398  45169.000065
169074  111031    913.50    906.10  45168.999795  45169.000065

[169075 rows x 9 columns], 'july 2023':                                     0  \
0       MNFY|25|20230626235940|044020
1       MNFY|83|20230627000156|002215
2       MNFY|85|20230627000204|043789
3       MNFY|43|20230627000157|044027
4       MNFY|25|20230627000318|044049
...                               ...
224265  MNFY|30|20230730234358|149842
224266  MNFY|72|20230730234159|150085
224267  MNFY|04|20230730234425|150347
224268  MNFY|74|20230730234451|026988
224269  MNFY|23|20230730234522|150166

                                                   1        2             3  \
0       UMB|API|MX14239|27-06-2023|1090261564|703728  MX14239  481762016242
1       OPA|API|MX14239|27-06-2023|1090262438|564244  MX14239  325010682632
2       UBA|API|MX14239|27-06-2023|1090262437|957388  MX14239  689163016367
3       FBN|API|MX14239|27-06-2023|1090262514|508255  MX14239  629760013994
4       OPA|API|MX14239|27-06-2023|1090262661|701194  MX14239  158198013149
...                                              ...      ...           ...
224265  UBA|API|MX14239|30-07-2023|1117071636|632877  MX14239  718860796864
224266  GTB|API|MX14239|30-07-2023|1117071817|556629  MX14239  375603797109
224267  ABP|API|MX14239|30-07-2023|1117071906|518263  MX14239  899405797098
224268  OPA|API|MX14239|30-07-2023|1117071980|262102  MX14239  733965797134
224269  GTB|API|MX14239|30-07-2023|1117072436|115749  MX14239  151961519667

             4        5         6             7             8
0        16242   9950.0   9869.40  45104.000025  45131.000239
1       682632    101.5    100.68  45104.001989  45131.000239
2        16367    710.5    704.74  45104.001989  45131.000239
3        13994    500.0    495.95  45104.002162  45131.000239
4        13149    203.0    201.36  45104.002517  45131.000239
...        ...      ...       ...           ...           ...
224265  796864    304.5    302.03  45137.989337  45138.000099
224266  797109  15840.0  15711.70  45137.989501  45138.000099
224267  797098  12270.0  12170.61  45137.989587  45138.000099
224268  797134     60.9     60.41  45137.989713  45138.000099
224269  519667    507.5    503.39  45137.990226  45138.000099

[224270 rows x 9 columns], 'june 2023':                                     0  \
0       MNFY|41|20230315190804|036159
1       MNFY|07|20230317080156|015234
2       MNFY|85|20230323194840|064584
3       MNFY|88|20230407024843|013239
4       MNFY|98|20230408024118|021938
...                               ...
204362  MNFY|85|20230629235601|070969
204363  MNFY|69|20230629235621|021520
204364  MNFY|24|20230629235731|027414
204365  MNFY|25|20230629235903|070765
204366  MNFY|94|20230629235847|071301

                                                   1        2             3  \
0       SBP|API|MX14239|15-03-2023|1010583260|726693  MX14239  671544009040
1       GTB|API|MX14239|17-03-2023|1011942100|682928  MX14239  177405297549
2       FBN|API|MX14239|23-03-2023|1017974027|528230  MX14239  289941205899
3       ZIB|API|MX14239|07-04-2023|1030312089|334410  MX14239  689470282485
4       OPA|API|MX14239|08-04-2023|1031118537|473360  MX14239  908037220478
...                                              ...      ...           ...
204362  ABP|API|MX14239|29-06-2023|1092516226|503130  MX14239  291194546163
204363  OPA|API|MX14239|29-06-2023|1092516324|460236  MX14239  303925299880
204364  ECO|API|MX14239|29-06-2023|1092516703|674580  MX14239  804819326142
204365  ABP|API|MX14239|29-06-2023|1092517061|373997  MX14239  188133326191
204366  GTB|API|MX14239|30-06-2023|1092517221|411677  MX14239  330893189126

             4          5          6             7             8
0         9040    1015.00    1006.78  45000.797651  45091.000127
1       297549   11880.00   11783.77  45002.335494  45096.000207
2       205899    3045.00    3020.34  45008.829905  45091.000127
3       282485  123312.00  122313.17  45023.119386  45084.000050
4       220478     456.75     453.05  45024.112349  45100.000065
...        ...        ...        ...           ...           ...
204362  546163     500.00     495.95  45106.997625  45107.349947
204363  299880    1116.50    1107.46  45106.997835  45107.349947
204364  326142     101.50     100.68  45106.998738  45107.349947
204365  326191     203.00     201.36  45106.999547  45107.349947
204366  189126     131.95     130.88  45106.999920  45107.349947

[204367 rows x 9 columns], 'May 2023':                                     0  \
0       MNFY|40|20230305114647|046723
1       MNFY|80|20230312073847|028239
2       MNFY|80|20230313002826|036325
3       MNFY|50|20230313162626|006291
4       MNFY|50|20230315185845|036840
...                               ...
235760  MNFY|61|20230530235527|007930
235761  MNFY|98|20230530235754|007886
235762  MNFY|61|20230530235815|007950
235763  MNFY|81|20230530235825|007908
235764  MNFY|62|20230530235527|007865

                                                   1        2             3  \
0       FBN|API|MX14239|05-03-2023|1000154810|957894  MX14239  285516072199
1       ZIB|API|MX14239|12-03-2023|1007151935|250960  MX14239  841412133255
2       ZIB|API|MX14239|13-03-2023|1007964915|374558  MX14239  491716059556
3       ZIB|API|MX14239|13-03-2023|1008525852|433853  MX14239  827172074113
4       GTB|API|MX14239|15-03-2023|1010573192|443213  MX14239  716438153888
...                                              ...      ...           ...
235760  GTB|API|MX14239|30-05-2023|1071060543|123760  MX14239  593102826630
235761  ZIB|API|MX14239|30-05-2023|1071061037|625120  MX14239  241992912528
235762  OPA|API|MX14239|30-05-2023|1071061055|326030  MX14239  213837826636
235763  ZIB|API|MX14239|30-05-2023|1071061098|427976  MX14239  149149826667
235764  ABP|API|MX14239|30-05-2023|1071061283|814312  MX14239  611117826748

             4          5          6             7             8
0        72199   91857.56   91113.51  44990.491170  45049.000103
1       133255  115667.00  114730.10  44997.320542  45048.000084
2        59556   44000.00   43643.60  44998.019781  45048.000084
3        74113    4000.00    3967.60  44998.685737  45048.000084
4       153888   11000.00   10910.90  45000.791697  45076.695941
...        ...        ...        ...           ...           ...
235760  826630    9477.00    9400.24  45076.997791  45077.000143
235761  912528     900.00     892.71  45076.999077  45077.000143
235762  826636     445.72     442.11  45076.999134  45077.000143
235763  826667     507.50     503.39  45076.999267  45077.000143
235764  826748    5000.00    4959.50  45076.999748  45077.000143

[235765 rows x 9 columns], 'april 2023':                                     0  \
0       MNFY|29|20230211012016|127221
1       MNFY|70|20230227204330|016158
2       MNFY|65|20230315190019|036401
3       MNFY|07|20230317060506|014044
4       MNFY|40|20230317070737|014466
...                               ...
206479  MNFY|00|20230427235431|085432
206480  MNFY|37|20230427235538|083705
206481  MNFY|48|20230427235716|085455
206482  MNFY|00|20230427235556|085443
206483  MNFY|48|20230427235817|085463

                                                    1        2             3  \
0         OPA|API|MX14239|11-02-2023|979813097|797721  MX14239  494359047207
1         OPA|API|MX14239|27-02-2023|994850378|473505  MX14239  284136089630
2       FCMB|API|MX14239|15-03-2023|1010574910|331990  MX14239  666605042263
3        OPA|API|MX14239|17-03-2023|1011864253|197389  MX14239  361833285548
4        OPA|API|MX14239|17-03-2023|1011899147|181566  MX14239  217542406420
...                                               ...      ...           ...
206479   ABP|API|MX14239|27-04-2023|1046095858|494875  MX14239  207830132488
206480   GTB|API|MX14239|27-04-2023|1046096352|317443  MX14239  129587132509
206481   UBA|API|MX14239|27-04-2023|1046096934|325570  MX14239  942988246226
206482   ZIB|API|MX14239|27-04-2023|1046096961|926358  MX14239   34971240167
206483   SBP|API|MX14239|27-04-2023|1046097047|772317  MX14239  182581240794

             4         5         6             7             8
0        47207    354.97    352.09  44968.056322  45042.000027
1        89630    406.00    402.71  44984.863923  45021.000261
2        42263  72600.00  72011.94  45000.793041  45029.000150
3       285548    121.80    120.81  45002.253794  45028.000061
4       406420    243.60    241.63  45002.297195  45028.000061
...        ...       ...       ...           ...           ...
206479  132488    639.45    634.27  45043.996411  45044.000166
206480  132509   1000.00    991.90  45043.997398  45044.000166
206481  246226   1200.00   1190.28  45043.998560  45044.000166
206482  240167   5730.00   5683.59  45043.998614  45044.000166
206483  240794  20493.00  20327.01  45043.998817  45044.000166

[206484 rows x 9 columns], 'march 2023':                                     0  \
0       MNFY|19|20230128182046|046944
1       MNFY|43|20230218172438|006834
2       MNFY|45|20230221023413|045065
3       MNFY|09|20230221120000|052818
4       MNFY|99|20230221165142|057848
...                               ...
216882  MNFY|64|20230330235712|003043
216883  MNFY|52|20230330235817|003058
216884  MNFY|53|20230330235813|003069
216885  MNFY|89|20230330235840|003182
216886  MNFY|09|20230330235851|003087

                                                   1        2             3  \
0        OPA|API|MX14239|28-01-2023|968130110|688817  MX14239  399979129955
1        OPA|API|MX14239|18-02-2023|986301731|519552  MX14239  329669444345
2        FBN|API|MX14239|21-02-2023|988469127|583292  MX14239  970502274211
3        GTB|API|MX14239|21-02-2023|988767639|837304  MX14239  754979027871
4        UBN|API|MX14239|21-02-2023|989028965|127284  MX14239  521558034805
...                                              ...      ...           ...
216882  OPA|API|MX14239|30-03-2023|1024311961|952473  MX14239  428971009886
216883  UBA|API|MX14239|31-03-2023|1024312072|327703  MX14239  735075000626
216884  OPA|API|MX14239|30-03-2023|1024312170|340239  MX14239  207601009877
216885  OPA|API|MX14239|31-03-2023|1024312348|129029  MX14239  413030005482
216886  GTB|API|MX14239|31-03-2023|1024312499|928568  MX14239  746716002368

             4         5         6             7             8
0       129955    253.75    251.69  44954.766109  45012.000041
1       444345   1116.50   1107.46  44975.726033  45012.000041
2       274211   1530.00   1517.61  44978.107628  44988.000027
3        27871    213.15    211.42  44978.503704  44988.000027
4        34805    507.50    503.39  44978.703155  44988.000027
...        ...       ...       ...           ...           ...
216882    9886    243.60    241.63  45015.998871  45016.000183
216883     626  16984.00  16846.43  45015.999118  45016.000183
216884    9877   5570.00   5524.88  45015.999312  45016.000183
216885    5482    253.75    251.69  45015.999665  45016.000183
216886    2368    263.90    261.76  45015.999944  45016.000183

[216887 rows x 9 columns], 'Feb':                                     0  \
0       MNFY|75|20221224174808|166067
1       MNFY|36|20230115180842|077263
2       MNFY|52|20230127170045|030819
3       MNFY|75|20230127170206|030380
4       MNFY|14|20230127170112|030277
...                               ...

In [69]:
df2['August'].items()

TypeError: list indices must be integers or slices, not str

In [137]:
dataframe = []
for file_sheets in df2:
    for sheet_name, sheet_data in file_sheets.items():
        dataframe.append(pd.DataFrame(sheet_data))

In [138]:
df3 = pd.concat(dataframe, ignore_index=True)

In [139]:
df3.head()

,0,1,2,3,4,5,6,7,8
0,MNFY|63|20231030235953|002383,ZIB|API|MX14239|31-10-2023|1209507919|167563,MX14239,135472003081,3081,438.6,435.05,45230.000401,45231.000239
1,MNFY|78|20231031000048|160393,FBN|API|MX14239|31-10-2023|1209508208|757050,MX14239,812420004867,4867,11000.0,10910.9,45230.000981,45231.000239
2,MNFY|78|20231031000109|160398,ABP|API|MX14239|31-10-2023|1209508263|814643,MX14239,317755004871,4871,15503.4,15377.82,45230.00111,45231.000239
3,MNFY|81|20231031000112|159191,FBP|API|MX14239|31-10-2023|1209508311|724453,MX14239,966495003621,3621,155000.0,153744.5,45230.001225,45231.000239
4,MNFY|78|20231031000136|160406,ABP|API|MX14239|31-10-2023|1209508348|481325,MX14239,87316003673,3673,558.25,553.73,45230.001292,45231.000239

In [140]:
df3[6] = pd.to_numeric(df3[6], errors="coerce")

In [141]:
df3.dropna(subset=[6], inplace=True)

In [180]:
df3.head()

,0,1,2,3,4,5,6,7,8
0,MNFY|63|20231030235953|002383,ZIB|API|MX14239|31-10-2023|1209507919|167563,MX14239,135472003081,3081,438.6,435.05,2023-10-31 00:00:34.650028800,2023-11-01 00:00:20.659968
1,MNFY|78|20231031000048|160393,FBN|API|MX14239|31-10-2023|1209508208|757050,MX14239,812420004867,4867,11000.0,10910.90,2023-10-31 00:01:24.786998400,2023-11-01 00:00:20.659968
2,MNFY|78|20231031000109|160398,ABP|API|MX14239|31-10-2023|1209508263|814643,MX14239,317755004871,4871,15503.4,15377.82,2023-10-31 00:01:35.930006400,2023-11-01 00:00:20.659968
3,MNFY|81|20231031000112|159191,FBP|API|MX14239|31-10-2023|1209508311|724453,MX14239,966495003621,3621,155000.0,153744.50,2023-10-31 00:01:45.799996800,2023-11-01 00:00:20.659968
4,MNFY|78|20231031000136|160406,ABP|API|MX14239|31-10-2023|1209508348|481325,MX14239,87316003673,3673,558.25,553.73,2023-10-31 00:01:51.609964800,2023-11-01 00:00:20.659968

In [144]:
df3[7]= pd.to_datetime(pd.to_numeric(df3[7],errors='coerce'),errors='coerce',origin='1899-12-30',unit='D')
df3[8]= pd.to_datetime(pd.to_numeric(df3[8],errors='coerce'),errors='coerce',origin='1899-12-30',unit='D')

In [153]:
wb = Workbook()
ws = wb.active

        
for group, state in df3.groupby(df3[8]):
    amount_by_date = state[6].sum()
    ws.append([group, amount_by_date])

wb.save("output1.xlsx")

In [132]:
test2 = pd.to_datetime(pd.to_numeric(df3[8],errors='coerce'),errors='coerce',origin='1899-12-30',unit='D')

In [133]:
test2.head()

0   2023-11-01 00:00:20.659968
1   2023-11-01 00:00:20.659968
2   2023-11-01 00:00:20.659968
3   2023-11-01 00:00:20.659968
4   2023-11-01 00:00:20.659968
Name: 8, dtype: datetime64[ns]

In [147]:
destination_path ='/Users/emmanuel.olatunbosun/Downloads/wetransfer_team-apt-2022-contiue-xlsb_2024-01-31_2021/2nd_2021.csv'
df3.to_csv(path_or_buf = destination_path, sep=',', index = False)

In [85]:
sort = df3.sort_values(by=[2])
sort.tail()

,0,1,2,3,4,5,6,7,8
19,transaction_reference,channel_transaction_reference,merchant_code,retrieval_reference_number,stan,amount,settlement_amount,date_of_payment,settlement_date
10,transaction_reference,channel_transaction_reference,merchant_code,retrieval_reference_number,stan,amount,settlement_amount,date_of_payment,settlement_date
20,transaction_reference,channel_transaction_reference,merchant_code,retrieval_reference_number,stan,amount,settlement_amount,date_of_payment,settlement_date
18,transaction_reference,channel_transaction_reference,merchant_code,retrieval_reference_number,stan,amount,settlement_amount,date_of_payment,settlement_date
21,transaction_reference,channel_transaction_reference,merchant_code,retrieval_reference_number,stan,amount,settlement_amount,date_of_payment,settlement_date

In [80]:
new_time = pd.to_datetime(sort[7])
new_time.head()

TypeError: invalid string coercion to datetime for "date_of_payment" at position 17

In [157]:
df10 = pd.read_excel('/Users/emmanuel.olatunbosun/Downloads/wetransfer_team-apt-2022-contiue-xlsb_2024-01-31_2021/team apt 2021.xlsx', sheet_name = None, header = None)
print(df10)

{'2019 - 2020':                                     0  \
0               transaction_reference
1          MNFY|20191108190432|000011
2          MNFY|20191108191034|000012
3          MNFY|20191112105742|000058
4          MNFY|20191112144302|000063
...                               ...
272885  MNFY|84|20201230235213|009889
272886  MNFY|00|20201230235139|006730
272887  MNFY|00|20201230235307|006741
272888  MNFY|84|20201230235559|009902
272889  MNFY|75|20201230235743|006449

                                                   1              2  \
0                      channel_transaction_reference  merchant_code
1       IBTC|API|MX14239|08-11-2019|315316987|128574        MX14239
2        FBN|API|MX14239|08-11-2019|315319980|847984        MX14239
3        UBA|API|MX14239|12-11-2019|316970095|924953        MX14239
4        ABP|API|MX14239|12-11-2019|317074166|921277        MX14239
...                                              ...            ...
272885   GTB|API|MX14239|30-12-2020|496040124|772097        MX14239
272886   UBN|API|MX14239|30-12-2020|496040147|990181        MX14239
272887   ECO|API|MX14239|30-12-2020|496040279|899753        MX14239
272888   GTB|API|MX14239|30-12-2020|496040840|385647        MX14239
272889   GTB|API|MX14239|31-12-2020|496041163|465003        MX14239

                                 3       4        5                  6  \
0       retrieval_reference_number    stan   amount  settlement_amount
1                     001653299828  507436    50.00              49.63
2                     001653342435  509818   200.00             198.50
3                     001684891879  078954  1100.00            1091.75
4                     001686522501  100332    50.00              49.63
...                            ...     ...      ...                ...
272885                001753297156  599368   303.60             301.14
272886                001753297126  599365  2100.00            2082.99
272887                001753299071  634276  7000.00            6943.30
272888                001753312298  599617  4394.95            4359.35
272889                001753328310  634656  1000.00             991.90

                              7                        8
0               date_of_payment          settlement_date
1       2019-11-08 20:05:23.000  2019-11-12 00:00:35.000
2       2019-11-08 20:11:28.000  2019-11-12 00:00:35.000
3       2019-11-12 12:15:04.000  2019-11-13 00:00:14.000
4       2019-11-12 15:46:42.000  2019-11-13 00:00:14.000
...                         ...                      ...
272885  2020-12-30 23:52:43.000  2020-12-31 00:00:08.000
272886  2020-12-30 23:52:54.000  2020-12-31 00:00:08.000
272887  2020-12-30 23:53:36.000  2020-12-31 00:00:08.000
272888  2020-12-30 23:56:47.000  2020-12-31 00:00:08.000
272889  2020-12-30 23:58:49.000  2020-12-31 00:00:08.000

[272890 rows x 9 columns], '2021':                                      0  \
0                transaction_reference
1           MNFY|20200902204229|001951
2           MNFY|20200903111459|009372
3           MNFY|20200903111715|009381
4           MNFY|20200903143639|013341
...                                ...
1048571  MNFY|05|20211124172012|144163
1048572  MNFY|04|20211124172044|138647
1048573  MNFY|04|20211124172125|138654
1048574  MNFY|08|20211124172110|144897
1048575  MNFY|05|20211124171900|144158

                                                   1              2  \
0                      channel_transaction_reference  merchant_code
1        GTB|API|MX14239|02-09-2020|442127553|249349        MX14239
2        GTB|API|MX14239|03-09-2020|442342077|468081        MX14239
3        GTB|API|MX14239|03-09-2020|442343212|224264        MX14239
4        UBA|API|MX14239|03-09-2020|442444324|373420        MX14239
...                                              ...            ...
1048571  GTB|API|MX14239|24-11-2021|691662748|106952        MX14239
1048572  ZIB|API|MX14239|24-11-2021|691662979|269186        MX14239
1048573  GTB|API|MX14239|24-11-2021|691663099|340160        MX14239
1048574  HBP|API|MX14239|24-11-2021|691663186|927013        MX14239
1048575  KSB|API|MX14239|24-11-2021|691663400|806239        MX14239

                                  3       4         5                  6  \
0        retrieval_reference_number    stan    amount  settlement_amount
1                      000879859260  492892   3000.00            2975.70
2                      000883993223  590883    200.00             198.38
3                      000884008220  591304  11544.13           11450.62
4                      000885194800  018919    500.00             495.95
...                             ...     ...       ...                ...
1048571                329735820901  820901  18668.00           18516.79
1048572                349661309171  309171  45952.00           45579.79
1048573                794401520254  520254    850.00             843.11
1048574                436931520283  520283   8210.00            8143.50
1048575                832469308793  308793  10332.00           10248.31

                               7                        8
0                date_of_payment          settlement_date
1        2020-09-02 20:43:10.000  2021-01-21 00:00:02.000
2        2020-09-03 11:15:04.000  2021-01-21 00:00:02.000
3        2020-09-03 11:18:01.000  2021-01-21 00:00:02.000
4        2020-09-03 14:37:07.000  2021-01-21 00:00:02.000
...                          ...                      ...
1048571  2021-11-24 17:21:28.000  2021-11-25 00:00:00.000
1048572  2021-11-24 17:21:42.000  2021-11-25 00:00:00.000
1048573  2021-11-24 17:21:48.000  2021-11-25 00:00:00.000
1048574  2021-11-24 17:21:54.000  2021-11-25 00:00:00.000
1048575  2021-11-24 17:22:10.000  2021-11-25 00:00:00.000

[1048576 rows x 9 columns], '2021 cont':                                     0  \
0               transaction_reference
1       MNFY|39|20210930160103|005337
2       MNFY|54|20210930160114|005058
3       MNFY|11|20211116235657|032599
4       MNFY|51|20211117000118|032898
...                               ...
282066  MNFY|38|20211230235423|009645
282067  MNFY|03|20211230235354|009531
282068  MNFY|48|20211230235610|009584
282069  MNFY|48|20211230235629|009585
282070  MNFY|03|20211230235717|009548

                                                  1              2  \
0                     channel_transaction_reference  merchant_code
1       GTB|API|MX14239|30-09-2021|656148810|750474        MX14239
2       GTB|API|MX14239|30-09-2021|656148868|655215        MX14239
3       SBP|API|MX14239|17-11-2021|686721033|460820        MX14239
4       GTB|API|MX14239|16-11-2021|686721889|426632        MX14239
...                                             ...            ...
282066  GTB|API|MX14239|30-12-2021|714510717|146845        MX14239
282067  GTB|API|MX14239|30-12-2021|714510737|919689        MX14239
282068  GTB|API|MX14239|30-12-2021|714511189|344241        MX14239
282069  UBA|API|MX14239|30-12-2021|714511451|267491        MX14239
282070  GTB|API|MX14239|30-12-2021|714511622|267994        MX14239

                                 3       4         5                  6  \
0       retrieval_reference_number    stan    amount  settlement_amount
1                     727419114569  114569  11701.60           11606.82
2                     748441198666  198666   3000.00            2975.70
3                     227162339145  339145   5499.00            5454.46
4                     570370315390  315390  10052.00            9970.58
...                            ...     ...       ...                ...
282066                001832713135  215591   2999.00            2974.71
282067                001832713301  038376    456.75             453.05
282068                001832722091  492660    243.12             241.15
282069                001832723948  373307   1522.50            1510.17
282070                001832727637  038438    263.38             261.25

                              7                        8
0               date_of_payment          settlement_date
1       2021-09-30 16:01:47.000  2021-11-19 00:00:08.000
2       2021-09-30 16:01:53.000  2021-11-19 00:00:08.000
3       2021-11-17 00:00:11.000  2021-11-18 00:00:01.000
4       2021-11-17 00:02:47.000  2021-11-18 00:00:01.000
...                         ...                      ...
282066  2021-12-30 23:54:23.000  2021-12-31 00:00:28.000
282067  2021-12-30 23:54:31.000  2021-12-31 00:00:28.000
282068  2021-12-30 23:56:40.000  2021-12-31 00:00:28.000
282069  2021-12-30 23:57:56.000  2021-12-31 00:00:28.000
282070  2021-12-30 23:58:56.000  2021-12-31 00:00:28.000

[282071 rows x 9 columns], '2022':                                     0  \
0               transaction_reference
1       MNFY|98|20211231000138|009588
2       MNFY|87|20211231000100|009854
3       MNFY|98|20211231000023|009585
4       MNFY|86|20211231000154|009452
...                               ...
251686  MNFY|94|20220130235843|060127
251687  MNFY|55|20220130235732|061428
251688  MNFY|16|20220130235823|061842
251689  MNFY|36|20220130235912|061672
251690  MNFY|02|20220130235912|060000

                                                  1              2  \
0                     channel_transaction_reference  merchant_code
1       GTB|API|MX14239|31-12-2021|714512162|893726        MX14239
2       GTB|API|MX14239|31-12-2021|714512435|752744        MX14239
3       ECO|API|MX14239|31-12-2021|714512444|741414        MX14239
4       UBA|API|MX14239|31-12-2021|714512454|153154        MX14239
...                                             ...            ...
251686  ABP|API|MX14239|30-01-2022|732332508|371928        MX14239
251687  SBP|API|MX14239|30-01-2022|732332515|420244        MX14239
251688  FBN|API|MX14239|31-01-2022|732332524|594024        MX14239
251689  KSB|API|MX14239|30-01-2022|732332543|672868        MX14239
251690  FBP|API|MX14239|30-01-2022|732332546|204710        MX14239

                                 3       4         5                  6  \
0       retrieval_reference_number    stan    amount  settlement_amount
1                     001832736418  373457   2999.00            2974.71
2                     001832741565  373526    152.25             151.02
3                     001832747989  414421   4699.00            4660.94
4                     001832741281  373518   1013.00            1004.79
...                            ...     ...       ...                ...
251686                345177989339  989339  15000.00           14878.50
251687                170814989342  989342   1122.00            1112.91
251688                744269200611  200611   2030.00            2013.56
251689                094266200594  200594    507.50             503.39
251690                665751200598  200598  10000.00            9919.00

                              7                        8
0               date_of_payment          settlement_date
1       2021-12-31 00:01:39.000  2022-01-03 00:00:09.000
2       2021-12-31 00:02:55.000  2022-01-03 00:00:09.000
3       2021-12-31 00:02:57.000  2022-01-03 00:00:09.000
4       2021-12-31 00:03:00.000  2022-01-03 00:00:09.000
...                         ...                      ...
251686  2022-01-30 23:59:25.000  2022-01-31 00:00:08.000
251687  2022-01-30 23:59:27.000  2022-01-31 00:00:08.000
251688  2022-01-30 23:59:30.000  2022-01-31 00:00:08.000
251689  2022-01-30 23:59:38.000  2022-01-31 00:00:08.000
251690  2022-01-30 23:59:39.000  2022-01-31 00:00:08.000

[251691 rows x 9 columns]}

In [175]:
dataframe2 = []
for sheet_name, sheet_data in df10.items():
    dataframe2.append(sheet_data)

combined_dataframe = pd.concat(dataframe2, ignore_index=True)

In [177]:
combined_dataframe[6] = pd.to_numeric(combined_dataframe[6], errors="coerce")

In [178]:
combined_dataframe.dropna(subset=[6], inplace=True)

In [190]:
combined_dataframe[8] = pd.to_datetime(combined_dataframe[8])

In [191]:
combined_dataframe[8].info

<bound method Series.info of 1         2019-11-12 00:00:35
2         2019-11-12 00:00:35
3         2019-11-13 00:00:14
4         2019-11-13 00:00:14
5         2019-11-13 00:00:14
                  ...
1855223   2022-01-31 00:00:08
1855224   2022-01-31 00:00:08
1855225   2022-01-31 00:00:08
1855226   2022-01-31 00:00:08
1855227   2022-01-31 00:00:08
Name: 8, Length: 1855224, dtype: datetime64[ns]>

In [187]:
combined_dataframe[7] = pd.to_datetime(combined_dataframe[7])

In [188]:
combined_dataframe.head()

,0,1,2,3,4,5,6,7,8
1,MNFY|20191108190432|000011,IBTC|API|MX14239|08-11-2019|315316987|128574,MX14239,001653299828,507436,50.00,49.63,2019-11-08 20:05:23,2019-11-12 00:00:35.000
2,MNFY|20191108191034|000012,FBN|API|MX14239|08-11-2019|315319980|847984,MX14239,001653342435,509818,200.00,198.50,2019-11-08 20:11:28,2019-11-12 00:00:35.000
3,MNFY|20191112105742|000058,UBA|API|MX14239|12-11-2019|316970095|924953,MX14239,001684891879,078954,1100.00,1091.75,2019-11-12 12:15:04,2019-11-13 00:00:14.000
4,MNFY|20191112144302|000063,ABP|API|MX14239|12-11-2019|317074166|921277,MX14239,001686522501,100332,50.00,49.63,2019-11-12 15:46:42,2019-11-13 00:00:14.000
5,MNFY|20191112163100|000080,IBTC|API|MX14239|12-11-2019|317168017|598453,MX14239,001687798232,116591,50.00,49.63,2019-11-12 18:21:52,2019-11-13 00:00:14.000

In [203]:
destination_path2 ='/Users/emmanuel.olatunbosun/Downloads/wetransfer_team-apt-2022-contiue-xlsb_2024-01-31_2021/concat.csv'

In [202]:
combined_dataframe.to_csv(destination_path2, index=False)

In [199]:
df_concat = pd.concat([df3,combined_dataframe])

In [196]:
df_merged1 = pd.merge(df3,combined_dataframe)

In [200]:
df_concat.head()

,0,1,2,3,4,5,6,7,8
0,MNFY|63|20231030235953|002383,ZIB|API|MX14239|31-10-2023|1209507919|167563,MX14239,135472003081,3081,438.6,435.05,2023-10-31 00:00:34.650028800,2023-11-01 00:00:20.659968
1,MNFY|78|20231031000048|160393,FBN|API|MX14239|31-10-2023|1209508208|757050,MX14239,812420004867,4867,11000.0,10910.90,2023-10-31 00:01:24.786998400,2023-11-01 00:00:20.659968
2,MNFY|78|20231031000109|160398,ABP|API|MX14239|31-10-2023|1209508263|814643,MX14239,317755004871,4871,15503.4,15377.82,2023-10-31 00:01:35.930006400,2023-11-01 00:00:20.659968
3,MNFY|81|20231031000112|159191,FBP|API|MX14239|31-10-2023|1209508311|724453,MX14239,966495003621,3621,155000.0,153744.50,2023-10-31 00:01:45.799996800,2023-11-01 00:00:20.659968
4,MNFY|78|20231031000136|160406,ABP|API|MX14239|31-10-2023|1209508348|481325,MX14239,87316003673,3673,558.25,553.73,2023-10-31 00:01:51.609964800,2023-11-01 00:00:20.659968

In [204]:
df_concat.to_csv(destination_path2, index=False)

In [205]:
wb = Workbook()
ws = wb.active

        
for group, state in df_concat.groupby(df_concat[8]):
    amount_by_date = state[6].sum()
    ws.append([group, amount_by_date])

wb.save("correct sum.xlsx")

In [206]:
print(len(df_concat.axes[0]))

7724779

In [207]:
df_concat[6].sum()

42059146094.36002

In [3]:
split = pd.read_csv('/Users/emmanuel.olatunbosun/Downloads/concat.csv')

In [4]:
split.head()

,0,1,2,3,4,5,6,7,8
0,MNFY|63|20231030235953|002383,ZIB|API|MX14239|31-10-2023|1209507919|167563,MX14239,1.354720e+11,3081.0,438.60,435.05,2023-10-31 00:00:34.650028800,2023-11-01 00:00:20.659968000
1,MNFY|78|20231031000048|160393,FBN|API|MX14239|31-10-2023|1209508208|757050,MX14239,8.124200e+11,4867.0,11000.00,10910.90,2023-10-31 00:01:24.786998400,2023-11-01 00:00:20.659968000
2,MNFY|78|20231031000109|160398,ABP|API|MX14239|31-10-2023|1209508263|814643,MX14239,3.177550e+11,4871.0,15503.40,15377.82,2023-10-31 00:01:35.930006400,2023-11-01 00:00:20.659968000
3,MNFY|81|20231031000112|159191,FBP|API|MX14239|31-10-2023|1209508311|724453,MX14239,9.664950e+11,3621.0,155000.00,153744.50,2023-10-31 00:01:45.799996800,2023-11-01 00:00:20.659968000
4,MNFY|78|20231031000136|160406,ABP|API|MX14239|31-10-2023|1209508348|481325,MX14239,8.731600e+10,3673.0,558.25,553.73,2023-10-31 00:01:51.609964800,2023-11-01 00:00:20.659968000

In [6]:
split.columns = ['Monnify_ref','Channel_ref','Merchant_code','RRN','Stan','Transaction_amount','Settlement_amount','Transaction_date','Settlement_date']

In [7]:
split.head()

,Monnify_ref,Channel_ref,Merchant_code,RRN,Stan,Transaction_amount,Settlement_amount,Transaction_date,Settlement_date
0,MNFY|63|20231030235953|002383,ZIB|API|MX14239|31-10-2023|1209507919|167563,MX14239,1.354720e+11,3081.0,438.60,435.05,2023-10-31 00:00:34.650028800,2023-11-01 00:00:20.659968000
1,MNFY|78|20231031000048|160393,FBN|API|MX14239|31-10-2023|1209508208|757050,MX14239,8.124200e+11,4867.0,11000.00,10910.90,2023-10-31 00:01:24.786998400,2023-11-01 00:00:20.659968000
2,MNFY|78|20231031000109|160398,ABP|API|MX14239|31-10-2023|1209508263|814643,MX14239,3.177550e+11,4871.0,15503.40,15377.82,2023-10-31 00:01:35.930006400,2023-11-01 00:00:20.659968000
3,MNFY|81|20231031000112|159191,FBP|API|MX14239|31-10-2023|1209508311|724453,MX14239,9.664950e+11,3621.0,155000.00,153744.50,2023-10-31 00:01:45.799996800,2023-11-01 00:00:20.659968000
4,MNFY|78|20231031000136|160406,ABP|API|MX14239|31-10-2023|1209508348|481325,MX14239,8.731600e+10,3673.0,558.25,553.73,2023-10-31 00:01:51.609964800,2023-11-01 00:00:20.659968000

In [8]:
from IPython.core.display import display,HTML
display(HTML('<style>.container{width:100%}</style>'))

/var/folders/c_/286x5j9d4yz8rq8sbmm94_z00000gr/T/ipykernel_42644/777987360.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display,HTML

In [10]:
sample = split.head()

In [12]:
sample.to_csv('/Users/emmanuel.olatunbosun/Downloads/check.csv')

In [13]:
convert_dict = {'RRN': str,
                'Stan': str
                }

In [14]:
split_1 = split.astype(convert_dict)

In [15]:
split_1.head()

,Monnify_ref,Channel_ref,Merchant_code,RRN,Stan,Transaction_amount,Settlement_amount,Transaction_date,Settlement_date
0,MNFY|63|20231030235953|002383,ZIB|API|MX14239|31-10-2023|1209507919|167563,MX14239,135472003081.0,3081.0,438.60,435.05,2023-10-31 00:00:34.650028800,2023-11-01 00:00:20.659968000
1,MNFY|78|20231031000048|160393,FBN|API|MX14239|31-10-2023|1209508208|757050,MX14239,812420004867.0,4867.0,11000.00,10910.90,2023-10-31 00:01:24.786998400,2023-11-01 00:00:20.659968000
2,MNFY|78|20231031000109|160398,ABP|API|MX14239|31-10-2023|1209508263|814643,MX14239,317755004871.0,4871.0,15503.40,15377.82,2023-10-31 00:01:35.930006400,2023-11-01 00:00:20.659968000
3,MNFY|81|20231031000112|159191,FBP|API|MX14239|31-10-2023|1209508311|724453,MX14239,966495003621.0,3621.0,155000.00,153744.50,2023-10-31 00:01:45.799996800,2023-11-01 00:00:20.659968000
4,MNFY|78|20231031000136|160406,ABP|API|MX14239|31-10-2023|1209508348|481325,MX14239,87316003673.0,3673.0,558.25,553.73,2023-10-31 00:01:51.609964800,2023-11-01 00:00:20.659968000

In [27]:
split_2 = split_1.copy()

In [30]:
split_1['RRN']= split_1['RRN'].str.split(pat='.').str[0]

In [32]:
split_1['Stan']= split_1['Stan'].str.split(pat='.').str[0]

In [33]:
split_1.head()

,Monnify_ref,Channel_ref,Merchant_code,RRN,Stan,Transaction_amount,Settlement_amount,Transaction_date,Settlement_date
0,MNFY|63|20231030235953|002383,ZIB|API|MX14239|31-10-2023|1209507919|167563,MX14239,135472003081,3081,438.60,435.05,2023-10-31 00:00:34.650028800,2023-11-01 00:00:20.659968000
1,MNFY|78|20231031000048|160393,FBN|API|MX14239|31-10-2023|1209508208|757050,MX14239,812420004867,4867,11000.00,10910.90,2023-10-31 00:01:24.786998400,2023-11-01 00:00:20.659968000
2,MNFY|78|20231031000109|160398,ABP|API|MX14239|31-10-2023|1209508263|814643,MX14239,317755004871,4871,15503.40,15377.82,2023-10-31 00:01:35.930006400,2023-11-01 00:00:20.659968000
3,MNFY|81|20231031000112|159191,FBP|API|MX14239|31-10-2023|1209508311|724453,MX14239,966495003621,3621,155000.00,153744.50,2023-10-31 00:01:45.799996800,2023-11-01 00:00:20.659968000
4,MNFY|78|20231031000136|160406,ABP|API|MX14239|31-10-2023|1209508348|481325,MX14239,87316003673,3673,558.25,553.73,2023-10-31 00:01:51.609964800,2023-11-01 00:00:20.659968000

In [34]:
split_1['Settlement_date'] = pd.to_datetime(split_1['Settlement_date']).dt.date

In [36]:
split_1.head()

,Monnify_ref,Channel_ref,Merchant_code,RRN,Stan,Transaction_amount,Settlement_amount,Transaction_date,Settlement_date
0,MNFY|63|20231030235953|002383,ZIB|API|MX14239|31-10-2023|1209507919|167563,MX14239,135472003081,3081,438.60,435.05,2023-10-31 00:00:34.650028800,2023-11-01
1,MNFY|78|20231031000048|160393,FBN|API|MX14239|31-10-2023|1209508208|757050,MX14239,812420004867,4867,11000.00,10910.90,2023-10-31 00:01:24.786998400,2023-11-01
2,MNFY|78|20231031000109|160398,ABP|API|MX14239|31-10-2023|1209508263|814643,MX14239,317755004871,4871,15503.40,15377.82,2023-10-31 00:01:35.930006400,2023-11-01
3,MNFY|81|20231031000112|159191,FBP|API|MX14239|31-10-2023|1209508311|724453,MX14239,966495003621,3621,155000.00,153744.50,2023-10-31 00:01:45.799996800,2023-11-01
4,MNFY|78|20231031000136|160406,ABP|API|MX14239|31-10-2023|1209508348|481325,MX14239,87316003673,3673,558.25,553.73,2023-10-31 00:01:51.609964800,2023-11-01

In [38]:
for group, state in split_1.groupby(split_1['Settlement_date']):
    output_path = os.path.join('/Users/emmanuel.olatunbosun/Downloads/4_divine', f'{group}.xlsx')
    state.to_excel(output_path, index= False)